<div class="ui form segment">
  <h2>Live Control</h2>
   <div class="ui grid">
       <div class="sixteen wide column">
       		<div class="fields">
       			<div class="four field">
						<label>Tweet Location </label>
						 <dropdown title="Tweet Location"  ng-model="socialmedia.pos">
							<dropdown-group>bottom left</dropdown-group>
							<dropdown-group>bottom right</dropdown-group>
							<dropdown-group>bottom center</dropdown-group>
							<dropdown-group>top center</dropdown-group>
							<dropdown-group>middleofeverything</dropdown-group>
						  </dropdown>
				</div>
				<div class="four field">
						<label>Overall Design</label>
						 <dropdown title="Holding BG Image"  ng-model="socialmedia.image">
							<dropdown-group>largelogo.png</dropdown-group>
							<dropdown-group>topleftlogo.png</dropdown-group>
							<dropdown-group>toprightlogo.png</dropdown-group>
							<dropdown-group>none</dropdown-group>
						  </dropdown>
				</div>
				<div class="four field">
						<label>Animation</label>
						 <dropdown title="Animation Type"  ng-model="socialmedia.animate">
							<dropdown-group>bouncy-slide-top</dropdown-group>
							<dropdown-group>toggle</dropdown-group>
							<dropdown-group>slide-down</dropdown-group>
							<dropdown-group>bouncy-slide-down</dropdown-group>
							<dropdown-group>spin-toggle</dropdown-group>
							<dropdown-group>rotate-in</dropdown-group>
						  </dropdown>
				</div>
 			</div>
 		</div>
  </div>
<br>
 <div class="ui form segment">
		<div ng-if="twitterList" id="tweetList">
				<div ng-repeat="result in twitterList" class="ui grid tweetContent" ng-class-even="'odd'">
					<div class="four wide column">
						<img ng-src={{result.user.profile_image_url_bigger}} class="userProfileImage">
						<div class="tweetDetails">
							<div class="userName">
								{{result.user.name}}
							</div>
							<div class="userHandle">
								<a href="https://twitter.com/{{result.user.screen_name}}" target="_blank">@{{result.user.screen_name}} <span class="userVerified" ng-if="result.user.verified">&#10004;</span></a>
							</div>
							<div class="tweetDateTime">
							{{result.created_at_JSDate | date: 'dd/MM/yy @ h:mma'}}
							</div>
						</div>
					</div>     
					<div class="text eight wide column">
						{{result.full_text}}
					</div>
					<div class="saveButtons four wide column">
							<div class="ui icon pink button" ng-click="removeFromList(result)"> 
									Live
								</div>							
								<div class="ui icon orange button" ng-click="removeFromList(result)"> 
										Hide
									</div>
						<div class="ui icon red button" ng-click="removeFromList(result)"> 
							<i class="minus icon"></i>
						</div>
					</div>
					<div class="row" ng-if="result.entities.media">
						<div class="four wide column">
						</div>
					<div ng-repeat="media in result.entities.media" class="nine wide column">
						<img ng-src="{{media.media_url}}" width="{{media.sizes.small.w}}" height="{{media.sizes.small.h}}">
					</div>
					<div class="two wide column">
					</div>
				</div>
			</div>
	</div>

   