<div class="ui form segment">
  <h2>Live Control</h2>
   <div class="ui grid">
			<div class="four wide column">
				<label>Default Position</label>
				<select ng-model="socialmedia.pos" class="ui dropdown">
						<option value="middleofeverything" selected>Centered</option>
						<option value="bottom left">Bottom Left</option>
						<option value="bottom right">Bottom Right</option>
						<option value="bottom center">Bottom Center</option>
						<option value="top center">Top Center</option>
				</select>
			</div>
			<div class="four wide column">
				<label>Overall Design</label>
				<select ng-model="socialmedia.design" class="ui dropdown">
						<option value="defaultDesign" selected>Default Design</option>
						<option value="lowerThirdDesign">Lower Third Design</option>
						<option value="bigImageDesign">Big Image Design Profile Fallback</option>
						<option value="bigMediaDesign">Big Image Design No Fallback</option>
				</select>
			</div>
			<div class="four wide column">
				<label>Animation</label>
				<select ng-model="socialmedia.animate" class="ui dropdown">
						<option value="toggle" selected>Toggle</option>
						<option value="bouncy-slide-top">Bouncy Slide Top</option>
						<option value="slide-down">Slide Down</option>
						<option value="bouncy-slide-down">Bouncy Slide Down</option>
						<option value="spin-toggle">Spin Toggle</option>
					</select>
				</div>
				<div class="four wide column">
						<label>Window Background</label>
						<select ng-model="socialmedia.background" class="ui dropdown">
								<option value="fullImage" selected>fullImage</option>
								<option value="greenScreen">Chroma Green (#00ff00)</option>
								<option value="transparent">Transparent</option>
							</select>
						</div>
 		</div>
	<br>
 	<div class="ui form segment">
		<div ng-if="twitterList" id="tweetList">
				<div ng-repeat="result in twitterList" class="ui grid tweetContent" ng-class-even="'odd'">
					<div class="four wide column">
						<img ng-src={{result.user.profile_image_url_bigger}} class="userProfileImage">
						<div class="tweetDetails">
							<div class="userName">
								{{result.user.name}}
							</div>
							<div class="userHandle">
								<a href="https://twitter.com/{{result.user.screen_name}}" target="_blank">@{{result.user.screen_name}} <span class="userVerified" ng-if="result.user.verified">&#10004;</span></a>
							</div>
							<div class="tweetDateTime">
							{{result.created_at_JSDate | date: 'dd/MM/yy @ h:mma'}}
							</div>
						</div>
					</div>     
					<div class="text eight wide column">
						{{result.full_text}}
					</div>
					<div class="saveButtons four wide column">
							<div class="ui icon pink button" ng-click="removeFromList(result)"> 
									Live
								</div>							
								<div class="ui icon orange button" ng-click="removeFromList(result)"> 
										Hide
									</div>
						<div class="ui icon red button" ng-click="removeFromList(result)"> 
							<i class="minus icon"></i>
						</div>
					</div>
					<div class="row" ng-if="result.entities.media">
						<div class="four wide column">
						</div>
					<div ng-repeat="media in result.entities.media" class="nine wide column">
						<img ng-src="{{media.media_url}}" width="{{media.sizes.small.w}}" height="{{media.sizes.small.h}}">
					</div>
					<div class="two wide column">
					</div>
				</div>
			</div>
	</div>

   