<div class="ui form segment">
  <h2>Twitter Collections</h2>

   <div class="ui grid">
       <div class="sixteen wide column">
			<div class="fields">
                <div class="four wide field">
                	<label>Screen Name </label>
					<input id=ScreenName type="text" placeholder="Enter Screen Name" ng-model="twittercollections.screenname">
				</div>
				<div class="four wide field">
                	<label>Collection Id </label>
					<input id=ScreenName type="text" placeholder="Enter Collection id" ng-model="twittercollections.collectionid">
				</div>
		
				<div class="four wide field">
						<label>&nbsp;</label>
						<button id=resolve-tweet class="ui blue button">Preview </button>
				</div>				
				<div class="four wide field">
						<label>Make live</label>
						<checkbox ng-model="twittercollections.show" size="large" type="toggle"></checkbox>
 				</div>
			</div>
		</div>
</div>							
<br>
 <div class="ui divider"></div>

    <br>
    <div class="ui grid">
    <div class="four wide column center"> </div>  
	<div class="eight wide column center">
		<a class="twitter-grid"
		  href="https://twitter.com/TwitterDev/timelines/539487832448843776">
		National Park Tweets
		</a>
        <div id=tweet_details></div>
	</div>
	<div class="four wide column center"> </div>  	
	</div>
			
		<script>
		
			$(document).ready(function() {
			  $("#resolve-tweet").click(function() {
				var url = $("#socialUrl").val();
				var caption = $("#socialCaption").val();		
				
				if (url.includes("instagram.com")) { 
					oEmbedUrl = 'http://api.instagram.com/oembed?url=';
				
				} else if (url.includes("facebook.com")) {
					 		if 	(url.includes("video")) {
          							oEmbedUrl = 'https://www.facebook.com/plugins/video/oembed.json/?url='; 
          					} else { 
          							oEmbedUrl = 'https://www.facebook.com/plugins/post/oembed.json/?url=';
          			 		}	
          			 
          			 
          		} else { 
          			oEmbedUrl = 'https://api.twitter.com/1/statuses/oembed.json?url=';
          		}
          			
				if (url == "") {
				  $(".controls").addClass("error");
				} else {
				  $("#tweet_div").show();
				  $.ajax({
					url: oEmbedUrl + url,
					dataType: "jsonp",
					success: function(data) {
					  $('#tweet_details').html(data.html);
					}
				  });
				}
			  })
			})
	  </script>


   