<div class="ui form segment" style="padding-bottom: 48px;">
  <h2>Twitter Search</h2>
  <br />
  <div class="ui grid">
      <div class="ten wide field">
        <input class="form-control" type="text" placeholder="Type your search then press enter..." ng-model="searchText" id="searchText" ng-keyup="$event.keyCode == 13 && getSearch(searchText,searchBy)">
      </div>
      <div class="four wide field">
          <select ng-model="searchBy" class="ui dropdown">
              <option value="recent" selected>Recent Tweets</option>
              <option value="popular">Popular Tweets</option>
              <option value="mixed">Mixed Tweets</option>
          </select>
      </div>
      <div class="two wide field" style="text-align: right;">
          <div ng-if="!results" class="ui blue button" style="width: 100%;" ng-click="getSearch(searchText,searchBy)">Search</div>
          <div ng-if="results" class="ui red button"  style="width: 100%;" ng-click="clearCurrentSearch()">Clear</div>
      </div>
  </div>
  <div class="row" ng-if="twitterErrors" >
    <div class="sixteen wide column">
      <div class="alert alert-danger">
        {{twitterErrors}}
      </div>
    </div>
  </div>
  <div style="margin-top:25px;" ng-if="results" id="tweetList">
    <div ng-repeat="result in results.statuses" class="ui grid tweetContent" ng-class-even="'odd'">
        <div class="four wide column">
          <img ng-src={{result.user.profile_image_url_bigger}} class="userProfileImage">
          <div class="tweetDetails">
            <div class="userName">
              {{result.user.name}}
            </div>
            <div class="userHandle">
              <a href="https://twitter.com/{{result.user.screen_name}}" target="_blank">@{{result.user.screen_name}} <span class="userVerified" ng-if="result.user.verified">&#10004;</span></a>
            </div>
            <div class="tweetDateTime">
            {{result.created_at_JSDate | date: 'dd/MM/yy @ h:mma'}}
            </div>
          </div>
      </div>     
      <div class="text nine wide column">
        {{result.full_text}}
      </div>
      <div class="saveButtons three wide column">
        <div class="ui icon green button" ng-click="addToList(result)"> 
          <i class="plus icon"></i>
        </div>
      </div>
      <div class="row" ng-if="result.entities.media">
        <div class="five wide column">
        </div>
      <div ng-repeat="media in result.entities.media" class="nine wide column">
        <img ng-src="{{media.media_url}}" width="{{media.sizes.small.w}}" height="{{media.sizes.small.h}}">
      </div>
      <div class="two wide column">
      </div>
    </div>
  </div>
</div>
