<div class="ui form segment" style="padding-bottom: 48px;">
  <h2>Twitter Search</h2>
  <br />
  <div class="ui grid">
      <div class="eight wide field">
        <input class="form-control" type="text" placeholder="Type your search then press enter..." ng-model="twitterOptions.searchText" id="searchText" ng-keyup="$event.keyCode == 13 && getSearch(twitterOptions.searchText,twitterOptions.searchBy,twitterOptions.searchMedia)">
      </div>
      <div class="three wide field">
        <select ng-model="twitterOptions.searchBy" class="ui dropdown">
            <option value="recent" selected>Recent Tweets</option>
            <option value="popular">Popular Tweets</option>
            <option value="mixed">Mixed Tweets</option>
            <option value="author" selected>Author's Tweets</option>
        </select>
      </div>
      <div class="three wide field">
        <select ng-model="twitterOptions.searchMedia" class="ui dropdown">
            <option value="all" selected>Include Media</option>
            <option value="searchOnlyMedia">Media Only</option>
            <option value="searchOnlyImages">Images Only</option>
            <option value="searchExcludeMedia">Exclude Media</option>
        </select>
      </div>
      <div class="two wide field" style="text-align: right;">
          <div ng-if="!results" class="ui blue button" style="width: 100%;" ng-click="getSearch(twitterOptions.searchText,twitterOptions.searchBy,twitterOptions.searchMedia)">Search</div>
          <div ng-if="results" class="ui red button"  style="width: 100%;" ng-click="clearCurrentSearch()">Clear</div>
      </div>
  </div>
  <div class="row" ng-if="twitterErrors" >
    <div class="sixteen wide column">
      <div class="alert alert-danger">
        {{twitterErrors}}
      </div>
    </div>
  </div>
  <div style="margin-top:25px;" ng-if="results" id="tweetList">
    <div ng-repeat="result in results.statuses" class="ui grid tweetContent" ng-class-even="'odd'">
        <div class="four wide column">
          <img ng-src={{result.user.profile_image_url_bigger}} class="userProfileImage">
          <div class="tweetDetails">
            <div class="userName">
              {{result.user.name}}
            </div>
            <div class="userHandle">
              <a href="https://twitter.com/{{result.user.screen_name}}" target="_blank">@{{result.user.screen_name}} <div class="tweetVerified" ng-if="result.user.verified"></div></a>
            </div>
            <div class="tweetDateTime">
            {{result.created_at_JSDate | date: 'dd/MM/yy @ h:mma'}}
            </div>
          </div>
      </div>     
      <div class="text nine wide column">
        {{result.full_text}}
        <div ng-repeat="media in result.extended_entities.media" class="nine wide column" style="padding-top: 6px">
            <img ng-src="{{media.media_url}}" width="{{media.sizes.small.w}}" height="{{media.sizes.small.h}}" class="tweetMedia">
          </div>
      </div>
      <div class="saveButtons three wide column">
        <div class="ui icon yellow button" ng-click="addToList(result)"> 
          <i class="large star icon"></i>
        </div>
        <div class="ui icon black button" ng-click="makeLive(result)">
            <i class="large unhide icon"></i>
          </div>
      </div>
    </div>
  </div>
</div>
