/* Backend Style */
html, body {
    height: 100%;
    font-size: 15px;
    background-color: #eee;
}

html, body {
    font-family: "MrEavesXLModOT", Arial, Helvetica, sans-serif !important;
}

#brand {
	margin-top: 2em;
    margin-bottom: 0.5em;
}

.pad-20 {
	padding-top: 20px;
}

.cap-width {
	max-width: 800px;
}

.ui.form .fields .field,
.ui.form .field {
    margin-bottom: 0px;
}

#tweetList .tweetContent{
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: solid 2px #e6e6e6;
}

#tweetList .userProfileImage img {
    width: 75px;
    height: 75px;
    float: left;
}

#tweetList .tweetDetails{
    float: right;
    width: calc(100% - 87px);
}

#tweetList .saveButtons{
    text-align: right;
    font-weight: bold;
}

#tweetList .user .userName{
    font-size: 18px;
    font-weight: bold;
}

#tweetList .user .userHandle {
    color: #00aced;
}

#tweetList .user .userVerified {
    color: #1dcaff;
    font-size: 18px;
}

#tweetList .odd{
    background-color: #f0f0f0;
}

#tweetList .even {
    background-color: #fff;
}